* {
    margin: 0;
}
.container {
    font-family: "游ゴシック";
}

.menu {
    background: #fff;
    list-style: none;
    padding: 0;
    display: flex;
    font-size: 14px;
    justify-content: end;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 86px;
}

.menu li a {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 8px 0;
    color: #333;
    text-decoration: none;
    padding-top: 24px;
    /* border-radius: 4px 4px 0 0; */
}
.menu li:nth-child(1){
    width:  787px;
}

.menu li a:not(.active):hover {
    font-weight: bolder; 
    color: #333;
}

/* .menu li a.active {
    color: #000;
} */

.content.active {
    color: #000;
    min-height: 150px;
    padding-top: 90px;
    padding-left: 40px;
    display: block;
    /* box-shadow: 0 0 8px gray; */
}

.content {    
    display: none;

}

.learnig-menu {
    list-style: none;
    padding: 0;

}

.learning-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.learnig-menu li a:not(.active):hover {
    opacity: 0.5;
    transition: opacity 0.4s;
    /* height: 800px; */
    transform:scale(1.2);
}

/* 集中力 */
.menu8th {
    list-style: none;
    padding-left: 16px;
    width: 200px;
    background: #eee;
    border-radius: 4px 4px 0 0;
    position: fixed;
}

.menu8th li a {
    text-decoration: none;
}

.content8th{
    width: 1000px;
    padding-left: 300px;
    padding-bottom: 300px;
    list-style: none;
    list-style-image: url(images/icon_check.png);
}
.content8th li {
    font-size: 20px;
    list-style-image: url(../img8/list-img.png);
}

.content8th>p {
    width: 49%;
}

.tb8 {
    display: flex;
    padding: 0px;
}

.tb8>p {
    width: 500px;
}

/* 共通 */
.center {
    text-align: center;
}

.reference-list li {
    list-style: square;
    font-size: 14px;
}

